.mult-table {
	 padding: 1px;
    width: 564px;
    height: 512px;
    border: 1px solid black;
}

.mult-table-col {
    border: 1px solid black;
    width: 110px;
    float: left;
    padding: 5px;
    margin: 1px;
}